/* Styles
font-family: 'Quicksand', sans-serif;
font-family: 'Montserrat', sans-serif;
Light Green: #115667
Dark Green:  #0A3641
"White": #F9F9F9
Grey: #AAA6A6


*/

/* Front page */
body {
    background-image: url(/images/couple-trekking-through-rain-highlands\ \(1\).jpg);
}