/* Styles
font-family: 'Quicksand', sans-serif;
font-family: 'Montserrat', sans-serif;
Light Green: #115667
Dark Green:  #0A3641
"White": #F9F9F9
Grey: #AAA6A6
*/



/* Front page */
* {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}
body {
  background: url(/images/bacground-image.jpg) no-repeat center center fixed;
  background-size: 140%;
  margin: 0;
  justify-content: space-between;
  background-position: bottom;
  display: flex;
  overflow: hidden;
}

header {
  margin-left: 1rem;
  margin-top: 1rem;
}

main {
  background: linear-gradient(
    27deg,
    rgba(9, 43, 52, 1) 20%,
    rgba(17, 86, 103, 0.6362920168067228) 80%
  );
  flex-direction: column;
  color: #f9f9f9;
  float: right;
  width: 55%;
  text-align: center;
  height: 100vh;
  clip-path: polygon(200px 0, 100% 0, 100% 100%, 0 100%);
  display: flex;
}
.navbar {
  align-self: flex-end;
  margin-right: 1rem;
}

.nav-icons img {
  width: 40px;
  margin-top: 1rem;
  margin-left: 1rem;
}

.main-content {
  margin-top: 200px;
  margin-left: 100px;
}

main h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 4rem;
  margin-bottom: 0;
}

main h2 {
  color: #aaa6a6;
  font-size: 1.1rem;
}

#index-button-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.index-button {
  font-size: 1.5rem;
  padding: 15px;
  background-color: #115667;
  text-decoration: none;
  color: white;
  box-shadow: 4px 2px 10px -10px rgba(0, 0, 0, 0.93);
  margin: 1rem;
  border-radius: 2px;
  width: 220px;
  font-size: 1rem;
  font-weight: 600;
}


/* FIRST BREAKPOINT AT 1250 */

@media screen and (max-width: 1250px) {
    
    .nav-icons-dark img {
        width: 40px;
  margin-top: 1rem;
  margin-left: 1rem;
    }
    body {
        flex-direction: row;
    }
    
    main {
        background: none;
        clip-path: none;
    }

    main h2 {
        color: #f3f3f3;
    }

    
}


/* SECOND BREAK AT 1040 */
@media screen and (max-width: 1040px) {
    
    body {
        background-size: 200%;
    }

    main { 
        margin-right: 30px;
    }
    main h1 {
        font-size: 2.9rem;
    }
    main h2 {
        font-size: 0.9rem;
    }
    
  
    
}

/* THIRD BREAK AT 920 */
@media screen and (max-width: 920px){

    #header-text {
        display: none;
    } 

}


/* Mobile small screen (Break at 520)*/
@media screen and (max-width: 520px) {
    body {
        background-image: url(/images/couple-trekking-through-rain-highlands\ \(1\)\ copy.jpg);
        background-size: 120%;
        background-position: top left;
        flex-direction: column;
        justify-content: center;
    }
    header {
        display: flex;
        justify-content: space-between;
    }
    #rainy-days-logo {
        height: 40px;
    }
    .nav-icons-dark {
        width: 35px;
        margin-right: 1rem  ;
    }
    #header-text {
        display: none;
    }

    main {
        width: 100vw;
    }

    .nav-icons {
        display: none;
    }

    

    #index-button-container {
        flex-direction: column;
        margin-top: 100px;
    }


    .main-content {
        margin: 0 auto;
    }
}





