:root {
  --rd-dark-green: #0a3641;
  --rd-light-green: #115667;
  --rd-yellow: #ac7b2c;
  --heading-white: #f9f9f9;
  --body-text-white: #e1e1e1;
  --subheading-grey: #8d8d8d;
  --background-grey: #FDFDFD;
}

p { 
  color: var(--body-text-white);
}


h1 {
  color: var(--heading-white);
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.2rem;
  
}

h2 {
  color: var(--subheading-grey);
}

.button {
  background-color: var(--rd-light-green);
  color: var(--heading-white);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  border-radius: 2px;
}

.button:hover {
  background-color: var(--rd-dark-green);
  transition: 0.3s;
}

/* NAVIGATION BAR */

#upper-nav-bar {
  background-color: var(--rd-dark-green);
  color: var(--heading-white);
  display: flex;
  justify-content: flex-end;
  width: 100vw;
}

#upper-nav-bar img {
  margin-right: 6px;
  height: 40%;
}

#upper-nav-bar p {
  margin: 6px;
  font-size: 0.6rem;
}

#upper-nav-bar i {
  margin-right: 13px;
}

#main-nav-bar {
  background-color: var(--rd-light-green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

#rainy-days-logo-grey {
  width: 10rem;
  height: auto;
  margin-left: 1rem;
}

#check {
  display: none;
}

#nav-bar-links li {
  display: inline-block;
}
#nav-bar-links a {
  text-decoration: none;
  color: #efefef;
  padding: 10px;
}

.nav-bar-btn {
  padding: 15px;
}

.nav-bar-btn a:hover {
  border-bottom: 4px solid var(--rd-yellow);
  transition: .04s ease-out
}

.nav-bar-icon img {
  height: 20px;
  margin-right: 20px;
}
* {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-grey);
}

/* ------------------------------------ CONTACT US PAGE ------------------------------------ */

#contact-body {
  background-image: none;
  overflow: hidden;
  margin: 0;
}

#contact-main-content h1 {
  color: var(--rd-dark-green);
}

#contact-main-content h2 {
  color: var(--rd-dark-green);
}

#contact-main-content h3 {
  color: var(--subheading-grey);
  font-size: 0.8rem;
}

#contact-main-content {
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
#faq-links {
  width: 70vw;
}
#faq-links ul {
  background-color: var(--rd-light-green);
  padding: 0;
}

#faq-links ul li {
  list-style-type: none;
  padding: 13px;
  
}

#faq-links ul li a {
  text-decoration: none;
  color: var(--heading-white);
}

#faq-links ul li:hover {
  background-color: var(--rd-dark-green);
  transition: 0.5s;
}

#contact-form {
  width: 70vw;
}

#contact-form form {
  display: flex;
  flex-direction: column;
}

#contact-form input {
  height: 50px;
  margin-bottom: 15px;
  border: none;
  padding: 10px;
  background-color: var(--heading-white);
  box-shadow: inset 0px 3px 13px -10px rgba(0,0,0,0.81);
}

#contact-form form #your-message {
  height: 100px;
}




/* ------- ABOUT US PAGE ------- */

#contact-body {
  overflow: visible;
}

#about-main-content-wrapper {

  margin-top: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-us-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  background-color: var(--rd-light-green);
  padding: 20px;
}

.about-us-card img {
  margin-right: 20px;
  width: 70vw;
}
.about-us-card h2,
h3 {
  margin-top: 5px;
  margin-bottom: 8px;
  color: #f9f9f9;
}

.about-us-card h2 {
  border-bottom: 1px solid var(--subheading-grey);
}

.about-us-card h3 {
  font-size: 1rem;
  color: #aaa6a6;
}

.about-us-card p {
  margin: 0;
  font-size: 0.8rem;
  color: #e1e1e1;
}


/* CHECKOUT PAGE */

#checkout-main {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

#payment-info {
  width: 90%;
  background-color: #f9f9f9;
  margin-top: 30px;
  padding: 20px;
}

#payment-info input {
  width: 90%;
  height: 50px;
  margin-bottom: 20px;
}

#date-and-cvv2 {
  display: flex;
  flex-direction: row;
  width: 90%;
}

#date-month-wrapper {
  display: flex;
}

#date-picker,
#month-picker {
  margin-right: 8px;
  height: 50px;
}


#order-btn {
  background-color: #0a3641;
  color: #f9f9f9;
}


#order-overview {
  width: 90%;
  display: flex;
  flex-direction: column;
}

#order-overview h3 {
  color: #0a3641;
}

#order-overview h4 {
  color: #115667;
  font-size: 0.7rem;
}

#order-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid grey;
}

.product-photo {
  display: none;
  width: 5vw;
  margin: 10px;
}

/* SHOP MENS */

#shop-mens-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

#filter-wrapper {
  width: 20vw;
  margin-top: 40px;
  margin-bottom: 40px;
}

#filter-wrapper label {
  font-size: 0.9rem;
  background-color: var(--rd-dark-green);
  color: var(--heading-white);
  padding: 20px;
}

#filter {
  background-color: var(--rd-dark-green);
  padding: 20px;
  padding-left: 0;
  width: 100vw;
}

#filter ul {
  padding-left: 10px;
}

#filter li {
  list-style-type: none;
  color: var(--body-text-white);
  padding: 10px;
  padding-left: 0;
}

  #filter {
    display: none;
  }

  #open-filters:checked ~ #filter {
    display: block;
  }
  #open-filters {
    display: none;
  }

#list-of-products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 20px;
  width: 60%;
  margin: 0 auto;
}

.product-card {
  /* background-color: var(--rd-light-green); */
  /* padding: 20px; */
  margin-bottom: 20px;
}

.product-card h2 {
  color: var(--rd-dark-green);
  margin: 0;
  font-size: 1rem;
}

#list-of-products img {
  width: 30vw;
 
}

.product-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20vw;
  
}



/* PRODUCT PAGE */

#main-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main-product img  {
  width: 90vw;
  margin-top: 50px;
 
}

#product-desctription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
}

#product-desctription h1 {
  color: var(--rd-dark-green);
  margin-bottom: 0;
}

#product-desctription h2, h3 {
  color: var(--rd-light-green);
  font-size: 1rem;
}

#product-desctription p {
  margin-top: 0;
  font-size: 0.9rem;
  color: #0a3641;
}


#size-selector {
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}
.size-selector-button {
  font-size: 3vw;
  padding: 12px;
  text-align: center;
  background-color: var(--heading-white);
  color: var(--rd-dark-green);
  text-decoration: none;
  margin-right: 2px;
  
}

#product-desctription .button {
margin-bottom: 100px;
}


/* ORDER COMPLETE */

#order-complete-body {
  background-image: url(/images/order-complete-background.png);
  background-position: center;
}

#thank-you-card {
  background: linear-gradient(
    163deg,
    rgba(17, 86, 103, 0.7105217086834734) 0%,
    rgba(10, 54, 65, 1) 91%
  );
  width: 90vw;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  color: #e1e1e1;
  -webkit-box-shadow: 5px 5px 18px 5px rgba(0, 0, 0, 0.44);
  box-shadow: 5px 5px 18px 5px rgba(0, 0, 0, 0.44);
  z-index: 1;
}

#thank-you-card-content {
  padding-top: 8px;
  padding-bottom: 50px;
}
#thank-you-card-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

#thank-you-card-content h2 {
  font-size: 1rem;
  margin-bottom: 80px;
}
#thank-you-card-content h3 {
  font-size: 1rem;
  color: var(--heading-white);
}

@media screen and (max-width: 940px) {
  /* NAV BAR */
  #nav-bar-links {
    display: none;
  }

  #check:checked ~ #nav-bar-links {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 103px;
    right: 0;
    background-color: #0a3641;
    margin-top: 0;
    width: 100vw;
    padding-left: 0;
    text-align: center;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 500px) {
  /* NAV BAR */
  #check:checked ~ #nav-bar-links {
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.5rem;
    padding-top: 20px;
    background-color: #aaa6a6;
  }

  #nav-bar-links {
    width: 100vw;
  }

  #nav-bar-links a {
    color: #0a3641;
  }
}


@media screen and (min-width: 720px) {
  /* CONTACT */

  /* ABOUT */
  #contact-body {
    width: 100vw;
  }

  .about-us-card {
    flex-direction: row;
  }

  /* CHECKOUT */

  .product-photo {
    display: revert;
  }

  /* CHECKOUT SUCCESS */

  #thank-you-card {
    width: 70vw;
    height: 70vh;
  }

  #thank-you-card-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  #thank-you-card-content h2 {
    font-size: 1.5rem;
    margin-bottom: 80px;
  }
  #thank-you-card-content h3 {
    font-size: 1rem;
    color: var(--heading-white);
  }



  /* SHOP MENS/WOMENS */

  #shop-mens-main {
    flex-direction: row;
  }

  #filter-wrapper {
    margin-right: 20px;
  }

  #filter {
    width: 20vw;
    margin-right: 100px;
  }



  #list-of-products {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 30px;
  
  }

  #list-of-products img {
    width: 20vw;
   
  }

  
  .product-description {
    flex-direction: row;
  }
  
  /* PRODUCT */
  #main-product {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  #main-product img {
    width: 30%;
    margin-top: 20px;
  }

  #product-desctription {
    width: 50%;
  }


 
  .size-selector-button {
    font-size: 1rem;
    margin-right: 5px;
    
  }

  /* CHECKOUT */

  #contact-main-content {
    flex-direction: row;
    align-items: flex-start;
  }
  #faq-links{
    width: 40%;
    margin: 50px
  }
  #contact-form {
    width: 60%;
    margin: 50px;
  }


  

  /* ORDER COMPLETE */
}

@media screen and (min-width: 940px) {
  /* CONTACT */

  /* ABOUT */

  /* CHECKOUT */
  
  #checkout-main {
    flex-direction: row;
    align-items: flex-start;
  }



  #payment-info {
    width: 40%;
    margin-left: 30px;
    
  }

  #order-overview {
    width: 60%;
    margin: 30px;
  }

  /* SHOP MENS/WOMENS */


  /* CHECKOUT */

  /* ORDER COMPLETE */
}