 /* ------------------------------------ CONTACT US PAGE ------------------------------------ */
 * {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    box-sizing: border-box;
    
  }

  body {
    margin: 0;
    background-color: #e2e2e2;
  }

  #contact-form {
    width: 40%;
  }
  #contact-form input {
    margin-bottom: 20px;
    height: 40px;
    border-radius: 2px;
    border: none;
  }

  textarea {
    margin-bottom: 20px;
  }

 #contact-body {
    background-color: #efefef;
    background-image: none;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
  }

  #contact-main-content h3 {
    font-size: 0.5rem;
  }
  #upper-nav-bar {
    background-color: #0a3641;
    color: #f3f3f3;
    display: flex;
    justify-content: flex-end;
    width: 100vw;
  }

  #upper-nav-bar img {
    margin-right: 10px;
    height: 50%;
  }

  #upper-nav-bar p {
    margin: 10px;
    font-size: 0.7rem;
  }

  #upper-nav-bar i {
    margin-right: 13px;
  }

  #main-nav-bar {
    background-color: #115667;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #rainy-days-logo-grey{
    width: 15%;
    height: 40%;
    margin-left: 1rem;
  }

  #nav-bar-links li{
    display: inline-block;
    
  }
  #nav-bar-links a {
    text-decoration: none;
    color: #efefef;
    padding: 10px;
  }

  .nav-bar-btn {
    padding: 15px;
    
  }

  .nav-bar-btn a:hover {
    border-bottom: 4px solid #AC7B2C;
  }

  .fa-shopping-cart {
    font-size: 1.9rem;
    color: #efefef;
    margin-right: 1%;
  }

  
  #contact-main-content-wrapper {
    background-color: #115667;
    box-shadow: 6px 4px 23px -4px rgba(0,0,0,0.55);
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    margin-top: 40px;
    padding: 50px;
  }

  #contact-main-content {
    color: #efefef;
    padding: 20px;
  }

  #contact-form form {
    display: flex;
    flex-direction: column;
  }

  /* ------- ABOUT US PAGE ------- */

  #contact-body {
    overflow: visible;
  }

  #about-main-content-wrapper {
    background-color: #115667;
    box-shadow: 6px 4px 23px -4px rgba(0,0,0,0.55);
    width: 70vw;
    margin: 0 auto;
    margin-top: 40px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    
  }

  .about-us-card {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    
  }

  .about-us-card-reverse img {
    margin-right: 10px;
    margin-left: 20px;
  }


  .about-us-card p {
    height: 199px;
    margin: 0;
    font-size: 1.2vw;
    color: #E1E1E1;
  }
  .about-us-card img {
    height: 20vw;
    margin-left: 30px;

  }

  /* CHECKOUT PAGE */

  #checkout-main {
    display: flex;
    justify-content: space-between;
    padding: 100px;
  }

  #payment-info {
    width: 40%;
    margin-right: 100px;
    background-color: #f9f9f9;
    padding: 100px;
    
  }

  #payment-info-input {
    display: flex;
    flex-direction: column;
  
  }


  #place-order {
    background-color: #0a3641;
    color: #f9f9f9;
    padding: 20px;
  }
#order-overview {
  width: 60%;
  display: flex;
  flex-direction: column;
}

#order-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid grey;
}


/* SHOP MENS */

#shop-mens-main {
display: flex;
justify-content: space-between;
margin: 100px;
}

#list-of-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 50px;
  row-gap: 30px;
}

#list-of-products img {
  width: 20vw
}

.product-description {
  display: flex;
  justify-content: space-between;
}


/* PRODUCT PAGE */

#main-product {
  display: flex;
  justify-content: space-evenly;
}
#product-images {
  margin-right: 100px;
}

#product-description {
  display: flex;
  flex-direction: column;
}
#small-product-photos {
  display: flex;
}

/* ORDER COMPLETE */

#order-complete-body {
  background-image: url(/images/order-complete-background.png);
  background-position: center;
}


 #thank-you-card {
  background: linear-gradient(90deg, rgba(17,86,103,0.7105217086834734) 0%, rgba(10,54,65,1) 71%);
  width: 60vw;

  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  color: #E1E1E1; 
  -webkit-box-shadow: 5px 5px 18px 5px rgba(0,0,0,0.44); 
box-shadow: 5px 5px 18px 5px rgba(0,0,0,0.44);
z-index: 1;
}

#thank-you-card-content {
  padding-top: 8px;
  padding-bottom: 50px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
}
#thank-you-card-content h1 {
  font-size: 4rem;
  margin-bottom: 50px;
}

#thank-you-card-content h2 {
color: #aaa6a6;
font-size: 2rem;
margin-bottom: 80px;
}
#thank-you-card-content h3 {
  font-size: 1rem;
}